[Unit]
Description=Ding Dong Ditch
After=multi-user.target

[Service]
Type=idle
WorkingDirectory={{DIR}}
ExecStart=/usr/bin/make run

[Install]
WantedBy=multi-user.target
