########################################
##          System Settings           ##
########################################


##
## Logging (optional)
##

# export DDD_LOG_METHOD=stdout
# export DDD_LOGGING_LEVEL=INFO

## Only needed if DDD_LOG_METHOD is set to "file"
# export DDD_LOG_PATH=/var/log
# export DDD_LOG_FILE=ding-dong-ditch.log


##
## Twilio (required)
##
## These settings can be obtained from your Twilio account.
##

# export DDD_TWILIO_SID=sid
# export DDD_TWILIO_SECRET_TOKEN=secret
# export DDD_FROM_NUMBER=+14155551000


##
## Hardware Interface (required)
##
## This is how the Pi interacts with the existing doorbell system.
## You may configure up to two separate units. If the second unit is not
## needed, just leave those settings commented out.
##

# export DDD_BUZZER_INTERVAL=30
# export DDD_BUZZER_HOLD=0.2
# export DDD_RING_FALLBACK=true

##
## Unit 1 (required)
##

# export DDD_UNIT_1_ID=1
# export DDD_GPIO_INPUT_PIN_BELL_1=17
# export DDD_GPIO_OUTPUT_PIN_BELL_1=19
# export DDD_GPIO_OUTPUT_PIN_STRIKE_1=21

##
## Unit 2 (optional)
##

# export DDD_UNIT_2_ID=2
# export DDD_GPIO_INPUT_PIN_BELL_2=18
# export DDD_GPIO_OUTPUT_PIN_BELL_2=20
# export DDD_GPIO_OUTPUT_PIN_STRIKE_2=21

##
## Firebase (required)
##
## These settings configure how the client communicates with the server.
## The values will be specific to your Firebase server deployment.
##

# export DDD_FIREBASE_APP_NAME=ding-dong-ditch
# export DDD_FIREBASE_CLOUD_FUNCTION_NOTIFY_URL=https://us-central1-APP-NAME.cloudfunctions.net/doorbell
# export DDD_FIREBASE_KEY_PATH=/home/pi/.firebasekey
# export DDD_FIREBASE_API_KEY=key
