# See settings.py for all the settings that can be configured here
export DDD_TWILIO_SID=asdfasdfasdfasdf
export DDD_TWILIO_SECRET_TOKEN=1234123412341234
export DDD_FROM_NUMBER=+14155551001
export DDD_RECIPIENTS=+4155551002,+14155551003
export DDD_GPIO_INPUT_PIN=17
