# See system_settings.py for all the settings that can be configured here
export DDD_TWILIO_SID=asdfasdfasdfasdf
export DDD_TWILIO_SECRET_TOKEN=1234123412341234
export DDD_FROM_NUMBER=+14155551001
export DDD_FIREBASE_KEY_PATH=/path/to/firebase/key
export DDD_FIREBASE_API_KEY=jklajklajklajkl
export DDD_FIREBASE_CLOUD_FUNCTION_UNLOCK_URL=https://us-central1-YOUR-PROJECT-NAME.cloudfunctions.net/unlock
